aws_region    = "us-east-1"
aws_profile   = "learning"
project       = "datalakehouse"
env           = "dev"
current_phase = "7"

alert_email = "you@example.com"

db_name     = "ecommerce"
db_username = "appuser"
db_password = "CHANGE_ME_USE_A_STRONG_PASSWORD"
